.svg-fixtures--weather-clear {
	background: url(../svg/vertical.svg) 0 0 no-repeat;
}

.svg-fixtures--weather-clear-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-clear-night {
	background: url(../svg/vertical.svg) 0 9.97920997920998% no-repeat;
}

.svg-fixtures--weather-clear-night-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-few-clouds {
	background: url(../svg/vertical.svg) 0 19.95841995841996% no-repeat;
}

.svg-fixtures--weather-few-clouds-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-few-clouds-night {
	background: url(../svg/vertical.svg) 0 29.93762993762994% no-repeat;
}

.svg-fixtures--weather-few-clouds-night-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-overcast {
	background: url(../svg/vertical.svg) 0 39.91683991683992% no-repeat;
}

.svg-fixtures--weather-overcast-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-severe-alert {
	background: url(../svg/vertical.svg) 0 49.896049896049895% no-repeat;
}

.svg-fixtures--weather-severe-alert-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-showers {
	background: url(../svg/vertical.svg) 0 59.87525987525988% no-repeat;
}

.svg-fixtures--weather-showers-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-showers-scattered {
	background: url(../svg/vertical.svg) 0 69.85446985446985% no-repeat;
}

.svg-fixtures--weather-showers-scattered-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-snow {
	background: url(../svg/vertical.svg) 0 79.83367983367984% no-repeat;
}

.svg-fixtures--weather-snow-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-storm,
.svg-fixtures--weather-storm\:regular {
	background: url(../svg/vertical.svg) 0 89.81288981288981% no-repeat;
}

.svg-fixtures--weather-storm-dims {
	width: 48px;
	height: 48px;
}

.svg-fixtures--weather-storm:hover,
.svg-fixtures--weather-storm\:hover {
	background: url(../svg/vertical.svg) 0 100% no-repeat;
}

.svg-fixtures--weather-storm-dims:hover,
.svg-fixtures--weather-storm\:hover-dims {
	width: 44px;
	height: 49px;
}

